<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="huge">3K</div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @registrations.fetch_by_category('3K').size %></div>
                        <div>participants</div>
                    </div>
                </div>
            </div>
            <a href="<%= admin_registrations_path(cat: '3K') %>">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="huge">5K</div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @registrations.fetch_by_category('5K').size %></div>
                        <div>participants</div>
                    </div>
                </div>
            </div>
            <a href="<%= admin_registrations_path(cat: '5K') %>">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="huge">10K</div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><div class="huge"><%= @registrations.fetch_by_category('10K').size %></div></div>
                        <div>participants</div>
                    </div>
                </div>
            </div>
            <a href="<%= admin_registrations_path(cat: '10K') %>">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="huge">21K</div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="huge"><%= @registrations.fetch_by_category('21K').size %></div>
                        <div>participants</div>
                    </div>
                </div>
            </div>
            <a href="<%= admin_registrations_path(cat: '21K') %>">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>

